{
	"extends": [
		"chariz",
		"plugin:vue/recommended"
	],
	"parser": "vue-eslint-parser",
	"parserOptions": {
		"parser": "@typescript-eslint/parser",
		"sourceType": "module"
	},
	"rules": {
		// Stuff I should change in the config package at some point
		"indent": ["error", "tab", { "SwitchCase": 0, "offsetTernaryExpressions": true }],
		"space-before-function-paren": "off",
		"unicorn/no-negated-condition": "off",
		"unicorn/switch-case-braces": ["error", "avoid"],

		"vue/multi-word-component-names": "off",

		// Disable React rules
		"react-hooks/rules-of-hooks": "off"

	},
	"globals": {
		"$fetch": "readonly",
		"definePageMeta": "readonly",
		"useRoute": "readonly",

		// From https://github.com/vuejs/eslint-plugin-vue/blob/917787c46a268b1910b9c77e091656a428d70a89/lib/utils/vue3-export-names.json
		"ComputedGetter": "readonly",
		"ComputedRef": "readonly",
		"ComputedSetter": "readonly",
		"CustomRefFactory": "readonly",
		"DebuggerEvent": "readonly",
		"DebuggerEventExtraInfo": "readonly",
		"DebuggerOptions": "readonly",
		"DeepReadonly": "readonly",
		"EffectScheduler": "readonly",
		"EffectScope": "readonly",
		"MaybeRef": "readonly",
		"MaybeRefOrGetter": "readonly",
		"Raw": "readonly",
		"Reactive": "readonly",
		"ReactiveEffect": "readonly",
		"ReactiveEffectOptions": "readonly",
		"ReactiveEffectRunner": "readonly",
		"ReactiveFlags": "readonly",
		"Ref": "readonly",
		"ShallowReactive": "readonly",
		"ShallowRef": "readonly",
		"ShallowUnwrapRef": "readonly",
		"ToRef": "readonly",
		"ToRefs": "readonly",
		"TrackOpTypes": "readonly",
		"TriggerOpTypes": "readonly",
		"UnwrapNestedRefs": "readonly",
		"UnwrapRef": "readonly",
		"WatchCallback": "readonly",
		"WatchEffect": "readonly",
		"WatchHandle": "readonly",
		"WatchSource": "readonly",
		"WatchStopHandle": "readonly",
		"WritableComputedOptions": "readonly",
		"WritableComputedRef": "readonly",
		"customRef": "readonly",
		"effect": "readonly",
		"effectScope": "readonly",
		"getCurrentScope": "readonly",
		"getCurrentWatcher": "readonly",
		"isProxy": "readonly",
		"isReactive": "readonly",
		"isReadonly": "readonly",
		"isRef": "readonly",
		"isShallow": "readonly",
		"markRaw": "readonly",
		"onScopeDispose": "readonly",
		"onWatcherCleanup": "readonly",
		"proxyRefs": "readonly",
		"reactive": "readonly",
		"readonly": "readonly",
		"ref": "readonly",
		"shallowReactive": "readonly",
		"shallowReadonly": "readonly",
		"shallowRef": "readonly",
		"stop": "readonly",
		"toRaw": "readonly",
		"toRef": "readonly",
		"toRefs": "readonly",
		"toValue": "readonly",
		"triggerRef": "readonly",
		"unref": "readonly",
		"camelize": "readonly",
		"capitalize": "readonly",
		"normalizeClass": "readonly",
		"normalizeProps": "readonly",
		"normalizeStyle": "readonly",
		"toDisplayString": "readonly",
		"toHandlerKey": "readonly",
		"computed": "readonly",
		"Slot": "readonly",
		"Slots": "readonly",
		"SlotsType": "readonly",
		"nextTick": "readonly",
		"queuePostFlushCb": "readonly",
		"ComponentPropsOptions": "readonly",
		"ComponentObjectPropsOptions": "readonly",
		"Prop": "readonly",
		"PropType": "readonly",
		"ExtractPropTypes": "readonly",
		"ExtractPublicPropTypes": "readonly",
		"ExtractDefaultPropTypes": "readonly",
		"defineProps": "readonly",
		"DefineProps": "readonly",
		"defineEmits": "readonly",
		"ComponentTypeEmits": "readonly",
		"defineExpose": "readonly",
		"defineOptions": "readonly",
		"defineSlots": "readonly",
		"ModelRef": "readonly",
		"defineModel": "readonly",
		"withDefaults": "readonly",
		"useSlots": "readonly",
		"useAttrs": "readonly",
		"ObjectEmitsOptions": "readonly",
		"EmitsOptions": "readonly",
		"EmitsToProps": "readonly",
		"ShortEmitsToObject": "readonly",
		"EmitFn": "readonly",
		"DirectiveBinding": "readonly",
		"DirectiveHook": "readonly",
		"ObjectDirective": "readonly",
		"FunctionDirective": "readonly",
		"Directive": "readonly",
		"DirectiveArguments": "readonly",
		"withDirectives": "readonly",
		"ComponentCustomProperties": "readonly",
		"CreateComponentPublicInstance": "readonly",
		"CreateComponentPublicInstanceWithMixins": "readonly",
		"ComponentPublicInstance": "readonly",
		"SuspenseProps": "readonly",
		"Suspense": "readonly",
		"SuspenseBoundary": "readonly",
		"RootHydrateFunction": "readonly",
		"BaseTransitionProps": "readonly",
		"TransitionHooks": "readonly",
		"TransitionState": "readonly",
		"useTransitionState": "readonly",
		"BaseTransitionPropsValidators": "readonly",
		"BaseTransition": "readonly",
		"resolveTransitionHooks": "readonly",
		"setTransitionHooks": "readonly",
		"getTransitionRawChildren": "readonly",
		"Renderer": "readonly",
		"HydrationRenderer": "readonly",
		"ElementNamespace": "readonly",
		"RootRenderFunction": "readonly",
		"RendererOptions": "readonly",
		"RendererNode": "readonly",
		"RendererElement": "readonly",
		"createRenderer": "readonly",
		"createHydrationRenderer": "readonly",
		"KeepAliveProps": "readonly",
		"KeepAlive": "readonly",
		"onActivated": "readonly",
		"onDeactivated": "readonly",
		"onBeforeMount": "readonly",
		"onMounted": "readonly",
		"onBeforeUpdate": "readonly",
		"onUpdated": "readonly",
		"onBeforeUnmount": "readonly",
		"onUnmounted": "readonly",
		"onServerPrefetch": "readonly",
		"onRenderTriggered": "readonly",
		"onRenderTracked": "readonly",
		"onErrorCaptured": "readonly",
		"ComponentCustomOptions": "readonly",
		"RenderFunction": "readonly",
		"ComponentOptionsBase": "readonly",
		"RuntimeCompilerOptions": "readonly",
		"ComponentOptions": "readonly",
		"ComponentOptionsMixin": "readonly",
		"ComputedOptions": "readonly",
		"MethodOptions": "readonly",
		"ComponentProvideOptions": "readonly",
		"ComponentInjectOptions": "readonly",
		"ComponentOptionsWithoutProps": "readonly",
		"ComponentOptionsWithArrayProps": "readonly",
		"ComponentOptionsWithObjectProps": "readonly",
		"InjectionKey": "readonly",
		"provide": "readonly",
		"inject": "readonly",
		"hasInjectionContext": "readonly",
		"PublicProps": "readonly",
		"DefineComponent": "readonly",
		"DefineSetupFnComponent": "readonly",
		"defineComponent": "readonly",
		"App": "readonly",
		"OptionMergeFunction": "readonly",
		"AppConfig": "readonly",
		"AppContext": "readonly",
		"ObjectPlugin": "readonly",
		"FunctionPlugin": "readonly",
		"Plugin": "readonly",
		"CreateAppFunction": "readonly",
		"TeleportProps": "readonly",
		"Teleport": "readonly",
		"resolveComponent": "readonly",
		"resolveDynamicComponent": "readonly",
		"resolveDirective": "readonly",
		"Fragment": "readonly",
		"Text": "readonly",
		"Comment": "readonly",
		"Static": "readonly",
		"VNodeTypes": "readonly",
		"VNodeRef": "readonly",
		"VNodeProps": "readonly",
		"VNodeArrayChildren": "readonly",
		"VNodeChild": "readonly",
		"VNodeNormalizedChildren": "readonly",
		"VNode": "readonly",
		"openBlock": "readonly",
		"setBlockTracking": "readonly",
		"createElementBlock": "readonly",
		"createBlock": "readonly",
		"isVNode": "readonly",
		"transformVNodeArgs": "readonly",
		"createBaseVNode": "readonly",
		"createVNode": "readonly",
		"guardReactiveProps": "readonly",
		"cloneVNode": "readonly",
		"createTextVNode": "readonly",
		"createStaticVNode": "readonly",
		"createCommentVNode": "readonly",
		"mergeProps": "readonly",
		"ComponentInstance": "readonly",
		"ComponentCustomProps": "readonly",
		"GlobalDirectives": "readonly",
		"GlobalComponents": "readonly",
		"AllowedComponentProps": "readonly",
		"FunctionalComponent": "readonly",
		"ConcreteComponent": "readonly",
		"Component": "readonly",
		"SetupContext": "readonly",
		"ComponentInternalInstance": "readonly",
		"getCurrentInstance": "readonly",
		"registerRuntimeCompiler": "readonly",
		"isRuntimeOnly": "readonly",
		"ComponentCustomElementInterface": "readonly",
		"WatchEffectOptions": "readonly",
		"WatchOptions": "readonly",
		"watchEffect": "readonly",
		"watchPostEffect": "readonly",
		"watchSyncEffect": "readonly",
		"MultiWatchSources": "readonly",
		"watch": "readonly",
		"HydrationStrategy": "readonly",
		"HydrationStrategyFactory": "readonly",
		"hydrateOnIdle": "readonly",
		"hydrateOnVisible": "readonly",
		"hydrateOnMediaQuery": "readonly",
		"hydrateOnInteraction": "readonly",
		"AsyncComponentLoader": "readonly",
		"AsyncComponentOptions": "readonly",
		"defineAsyncComponent": "readonly",
		"useModel": "readonly",
		"TemplateRef": "readonly",
		"useTemplateRef": "readonly",
		"useId": "readonly",
		"h": "readonly",
		"ssrContextKey": "readonly",
		"useSSRContext": "readonly",
		"ErrorCodes": "readonly",
		"callWithErrorHandling": "readonly",
		"callWithAsyncErrorHandling": "readonly",
		"handleError": "readonly",
		"initCustomFormatter": "readonly",
		"HMRRuntime": "readonly",
		"pushScopeId": "readonly",
		"popScopeId": "readonly",
		"withScopeId": "readonly",
		"withCtx": "readonly",
		"renderList": "readonly",
		"toHandlers": "readonly",
		"renderSlot": "readonly",
		"createSlots": "readonly",
		"withMemo": "readonly",
		"isMemoSame": "readonly",
		"LegacyConfig": "readonly",
		"CompatVue": "readonly",
		"version": "readonly",
		"warn": "readonly",
		"devtools": "readonly",
		"setDevtoolsHook": "readonly",
		"DeprecationTypes": "readonly",
		"createElementVNode": "readonly",
		"WatchOptionsBase": "readonly",
		"TransitionProps": "readonly",
		"Transition": "readonly",
		"TransitionGroupProps": "readonly",
		"TransitionGroup": "readonly",
		"vShow": "readonly",
		"withModifiers": "readonly",
		"withKeys": "readonly",
		"vModelText": "readonly",
		"vModelCheckbox": "readonly",
		"vModelRadio": "readonly",
		"vModelSelect": "readonly",
		"vModelDynamic": "readonly",
		"VueElementConstructor": "readonly",
		"CustomElementOptions": "readonly",
		"defineCustomElement": "readonly",
		"defineSSRCustomElement": "readonly",
		"VueElement": "readonly",
		"useHost": "readonly",
		"useShadowRoot": "readonly",
		"useCssModule": "readonly",
		"useCssVars": "readonly",
		"CSSProperties": "readonly",
		"AriaAttributes": "readonly",
		"StyleValue": "readonly",
		"HTMLAttributes": "readonly",
		"AnchorHTMLAttributes": "readonly",
		"AreaHTMLAttributes": "readonly",
		"AudioHTMLAttributes": "readonly",
		"BaseHTMLAttributes": "readonly",
		"BlockquoteHTMLAttributes": "readonly",
		"ButtonHTMLAttributes": "readonly",
		"CanvasHTMLAttributes": "readonly",
		"ColHTMLAttributes": "readonly",
		"ColgroupHTMLAttributes": "readonly",
		"DataHTMLAttributes": "readonly",
		"DetailsHTMLAttributes": "readonly",
		"DelHTMLAttributes": "readonly",
		"DialogHTMLAttributes": "readonly",
		"EmbedHTMLAttributes": "readonly",
		"FieldsetHTMLAttributes": "readonly",
		"FormHTMLAttributes": "readonly",
		"HtmlHTMLAttributes": "readonly",
		"IframeHTMLAttributes": "readonly",
		"ImgHTMLAttributes": "readonly",
		"InsHTMLAttributes": "readonly",
		"InputTypeHTMLAttribute": "readonly",
		"InputHTMLAttributes": "readonly",
		"KeygenHTMLAttributes": "readonly",
		"LabelHTMLAttributes": "readonly",
		"LiHTMLAttributes": "readonly",
		"LinkHTMLAttributes": "readonly",
		"MapHTMLAttributes": "readonly",
		"MenuHTMLAttributes": "readonly",
		"MediaHTMLAttributes": "readonly",
		"MetaHTMLAttributes": "readonly",
		"MeterHTMLAttributes": "readonly",
		"QuoteHTMLAttributes": "readonly",
		"ObjectHTMLAttributes": "readonly",
		"OlHTMLAttributes": "readonly",
		"OptgroupHTMLAttributes": "readonly",
		"OptionHTMLAttributes": "readonly",
		"OutputHTMLAttributes": "readonly",
		"ParamHTMLAttributes": "readonly",
		"ProgressHTMLAttributes": "readonly",
		"ScriptHTMLAttributes": "readonly",
		"SelectHTMLAttributes": "readonly",
		"SourceHTMLAttributes": "readonly",
		"StyleHTMLAttributes": "readonly",
		"TableHTMLAttributes": "readonly",
		"TextareaHTMLAttributes": "readonly",
		"TdHTMLAttributes": "readonly",
		"ThHTMLAttributes": "readonly",
		"TimeHTMLAttributes": "readonly",
		"TrackHTMLAttributes": "readonly",
		"VideoHTMLAttributes": "readonly",
		"WebViewHTMLAttributes": "readonly",
		"SVGAttributes": "readonly",
		"IntrinsicElementAttributes": "readonly",
		"Events": "readonly",
		"ReservedProps": "readonly",
		"NativeElements": "readonly",
		"render": "readonly",
		"hydrate": "readonly",
		"createApp": "readonly",
		"createSSRApp": "readonly",
		"compileToFunction": "readonly",
		"compile": "readonly"
	}
}
