{
	"extends": "chariz",
	"settings": {
		"react": {
			"version": "18"
		}
	},
	"rules": {
		// Stuff I should change in the config package at some point
		"indent": ["error", "tab", { "SwitchCase": 0, "offsetTernaryExpressions": true }],
		"space-before-function-paren": "off",
		"unicorn/no-negated-condition": "off",
		"unicorn/switch-case-braces": ["error", "avoid"]
	}
}
