body {
	font-family: sans-serif;
	max-width: 400px;
	margin: 100px auto;
	padding: 20px;
	background-color: #f5f5f5;
	color: #000;
}
.login-form {
	background: white;
	padding: 30px;
	border-radius: 10%;
	box-shadow: 0 20px 50px rgba(0,0,0,0.1);
}
h1 {
	text-align: center;
	margin-bottom: 30px;
	color: #333;
}
.form-group {
	margin-bottom: 20px;
}
label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	color: #555;
}
input[type="text"], input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 12px;
	font-size: 16px;
	box-sizing: border-box;
}
a {
	color: #0069ff;
}
a:hover {
	color: #0056b3;
}
button {
	width: 100%;
	padding: 12px;
	background-color: #0069ff;
	color: white;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	cursor: pointer;
}
button:hover {
	background-color: #0056b3;
}
.secondary-button {
	width: 100%;
	padding: 12px;
	background-color: #e5e5e5;
	color: rgb(0, 0, 0);
	border: none;
	border-radius: 10px;
	font-size: 16px;
	cursor: pointer;
}
.secondary-button:hover {
	background-color: #c5c5c5;
}
.error {
	color: red;
	margin-top: 10px;
	text-align: center;
}
.success {
	color: green;
	margin-top: 10px;
	text-align: center;
}
.agreement {
	font-size: 12px;
	color: #777;
	text-align: center;
	margin-top: 20px;
}
@media (prefers-color-scheme: dark) {
	body {
		font-family: sans-serif;
		max-width: 400px;
		margin: 100px auto;
		padding: 20px;
		background-color: #0b0b0b;
		color: #fff;
	}
	.login-form {
		background: rgb(36, 36, 36);
		padding: 30px;
		border-radius: 10%;
		box-shadow: 0 20px 50px rgba(0,0,0,0.1);
	}
	h1 {
		text-align: center;
		margin-bottom: 30px;
		color: #ffffff;
	}
	.form-group {
		margin-bottom: 20px;
	}
	label {
		display: block;
		margin-bottom: 5px;
		font-weight: bold;
		color: #555;
	}
	input[type="text"], input[type="password"] {
		width: 100%;
		padding: 10px;
		border: 1px solid #3e3e3e;
		border-radius: 12px;
		font-size: 16px;
		box-sizing: border-box;
		background: none;
		color: white;
	}
	a {
		color: #006aff;
	}
	button {
		width: 100%;
		padding: 12px;
		background-color: #006aff;
		color: white;
		border: none;
		border-radius: 10px;
		font-size: 16px;
		cursor: pointer;
	}
	.error {
		color: rgb(255, 31, 31);
		margin-top: 10px;
		text-align: center;
	}
	.agreement {
		font-size: 12px;
		color: #777;
		text-align: center;
		margin-top: 20px;
	}
	.secondary-button {
		width: 100%;
		padding: 12px;
		background-color: #2c2c2c;
		color: rgb(255, 255, 255);
		border: none;
		border-radius: 10px;
		font-size: 16px;
		cursor: pointer;
	}
	.secondary-button:hover {
		background-color: #3c3c3c;
	}
}
